@import '_normalize';

body {
	margin: 0 auto;
	font-size: 16px;
	font-family: microsoft yahei, Helvetica;
	color: #333333;

	@media (min-width: 1280px) {
		.container {
			width: 1280px;
		}
	}

	p {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: #333333;
	}

	a:focus {
		text-decoration: none;
		color: #333333;
	}

	a:hover {
		text-decoration: none;
		color: #0E9F4E;
	}

	ui, li {
		list-style-type:none;
	}
}
