@import '_normalize';
@import '_amazeui';
@import '_image';

$container_width: 1280;
$color-a-hover: #0E9F4E;

@mixin border-radius ($radius) {
	border-radius: #{$radius}px;
	-webkit-border-radius: #{$radius}px;
	-moz-border-radius: #{$radius}px;
}

body {
	margin: 0 auto;
	font-size: 16px;
	font-family: microsoft yahei, Helvetica;
	color: #333333;

	@media (min-width: 1280px) {
		.container {
			width: 1280px;
		}
	}

	.container {
		padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}

	dt {
		font-weight: normal;
	}

	p {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: #333333;

		&:focus {
			text-decoration: none;
			color: #333333;
		}

		&:hover {
			text-decoration: none;
			color: $color-a-hover;
		}

		&:hover > * {
			text-decoration: none;
			color: $color-a-hover;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style-type:none;
		}
	}

	.popup {
		position: relative;
		padding: 0 20px;
	}

	.popup:hover {
		z-index: 1;

		.title {
			text-decoration: none;
			color: #0E9F4E;
		}

		.popup-wrapper {
			display: inline-block;
		}
	}

	.popup .popup-wrapper {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 10px;
		z-index: -1;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		box-sizing: border-box;
		background-color: white;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);

		.content {
			font-size: 12px;
			line-height: 30px;
			text-align: center;
		}
	}

	.fl {
		float: left;
	}

	.fr {
		float: right;
	}
}
