@import '_base';

.float-bar {
	position: fixed;
	right: 15px;
	top: 35%;
	z-index: 1;

	.icon-float-bar-download {
		@include background('/images/web/app/float-bar-download.png', 120, 57);
	}

	.icon-float-bar-qrcode {
		@include background('/images/web/app/float-bar-qrcode.png', 134, 184);
	}

	.icon-float-bar-back {
		@include background('/images/web/app/float-bar-back.png', 120, 57);
	}

	.icon-float-bar-download, .icon-float-bar-qrcode, .icon-float-bar-back {
		display: block;
	}

	.icon-float-bar-download, .icon-float-bar-back {
		margin-left: 7px;
	}
}

.section {
	text-align: center;
	
	.content {
		display: inline-block;
		width: 1280px;
	}
}

.section1 {
	.app-header {
		background-color: white;
		text-align: center;
		line-height: 50px;
		font-size: 24px;

		.logo {
			position: relative;
			left: -20%;
		}

		.index {

			a {
				color: #000f22;
			}
		}

		.login {
			position: relative;
			left: 20%;
		}

		.register {
			position: relative;
			left: 21%;
		}
	}

	background-color: #7ccbd0;

	.content {
		height: 900px;
		text-align: center;
		position: relative;

		.icon-slogan1 {
			@include background('/images/web/app/section1-slogan1.png', 894, 164);
			margin-top: 50px;
		}

		.center-bottom {
			position: absolute;
			bottom: -10px;
			width: 100%;
			text-align: center;

			.icon-phone {
				@include background('/images/web/app/section1-phone.png', 422, 673);
			}

			.right {
				display: inline-block;
				position: relative;
				top: 200px;
				margin-left: 100px;

				.icon-slogan2 {
					@include background('/images/web/app/section2-slogan2.png', 271, 34);
					margin-bottom: 30px;
				}

				.icon-qrcode {
					@include background('/images/web/app/section1-qrcode.png', 441, 227);
					display: block;
				}

				.download-pc-link {
					display:inline-block;
					background-color: #3eccc3;
					line-height: 20px;
					padding: 5px 10px;
					border-radius: 15px;
					-moz-border-radius: 15px;
					-webkit-border-radius: 15px;
					margin-top: 30px;

					a {
						color: #e9f3f2;
						font-size: 16px;
					}
				}

				.android {
					margin-right: 50px;
				}

				.ios {
					margin-left: 50px;
				}
			}
		}
	}
}

.section2 {

	.icon-bg {
		@include background('/images/web/app/section2-bg.png');
		display: block;
	}
}

.section3 {
	
	.icon-bg {
		@include background('/images/web/app/section3-bg.png');
		display: block;
	}
}

.section4 {
	background-color: #282e33;
	
	.content {

		.left {
			display: inline-block;
			margin-right: 50px;

			.download {
				display: inline-block;
				border: 1px solid #2369b5;
				margin: 0 10px;

				.icon-ios {
					@include background('/images/web/app/section4-ios.png', 58, 70);
				}

				.icon-android {
					@include background('/images/web/app/section4-android.png', 75, 88);
				}
			}

			.ios {
				padding: 29px 35px;
			}

			.android {
				padding: 20px 26.5px;
			}

			.text {
				color: #2369b5;
				font-size: 24px;
				font-family: Microsoft Yahei;

				.text-left {
					position: relative;
					left: -25px;
				}

				.text-right {
					position: relative;
					right: -58px;
				}
			}
		}

		.right {
			display: inline-block;
			font-family: hiragino sans gb,microsoft yahei,simsun;
			font-size: 20px;
			color: #7e90ae;
			text-align: left;
			margin-left: 50px;
		
			p {
				font-size: 14px;
			}
		}
	}
}
