@import '_base';

$icons: (
	icon-logo: '/images/web/app/logo.png',
	icon-float-bar-download: '/images/web/app/float-bar-download.png',
	icon-float-bar-back: '/images/web/app/float-bar-back.png',
	icon-slogan1: '/images/web/app/section1-slogan1.png',
	icon-phone: '/images/web/app/section1-phone.png',
	icon-slogan2: '/images/web/app/section2-slogan2.png',
	icon-qrcode-bg: '/images/web/app/section1-qrcode-bg.png',
	icon-section2-bg: '/images/web/app/section2-bg.png',
	icon-section3-bg: '/images/web/app/section3-bg.png',
	icon-ios: '/images/web/app/section4-ios.png',
	icon-android: '/images/web/app/section4-android.png',
	icon-slogan3: '/images/web/app/section4-slogan.png',
	icon-qrcode-android: '/images/web/app/qrcode-android.png',
	icon-qrcode-ios: '/images/web/app/qrcode-ios.png',
);

.float-bar {
	position: fixed;
	right: 15px;
	top: 35%;
	z-index: 1;

	.icon-float-bar-download {
		@include background(map-get($icons, icon-float-bar-download), 120, 57);
	}

	.qrcode-wrapper {
		@include background(map-get($icons, icon-qrcode-android), 140, 150, 120, 120);
		background-color: white;
		border: 3px solid #294962;
		box-sizing: border-box;
		@include border-radius(15);
	}

	.icon-float-bar-back {
		@include background(map-get($icons, icon-float-bar-back), 120, 57);
	}

	.icon-float-bar-download, .icon-float-bar-qrcode, .icon-float-bar-back {
		display: block;
	}

	.icon-float-bar-download, .icon-float-bar-back {
		margin-left: 10px;
	}
}

.section {
	text-align: center;
	
	.content {
		display: inline-block;
		width: 1280px;
	}
}

.section1 {
	background-color: #7ccbd0;

	.app-header {
		background-color: white;
		text-align: center;
		line-height: 60px;
		font-size: 24px;
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 1;

		.logo {
			position: absolute;
			left: 200px;

			.icon-logo {
				@include background(map-get($icons, icon-logo), 153, 41);
			}
		}

		.index {

			a {
				color: #000f22;
			}
		}
	}

	.fp-tableCell {
		vertical-align: top;
	}

	.main-wrapper {
		margin: 0 auto;
		width: 1000px;
		height: 100%;
		position: relative;

		.icon-slogan1 {
			@include background(map-get($icons, icon-slogan1), 894, 164);
			position: absolute;
			top: 70px;
			left: 30px;
		}

		.icon-phone {
			@include background(map-get($icons, icon-phone), 422, 673);
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.right {
			position: absolute;
			bottom: 150px;
			right: 0;

			.icon-slogan2 {
				@include background(map-get($icons, icon-slogan2), 271, 34);
				margin-bottom: 30px;
			}

			.qrcode-wrapper {
				@include background(map-get($icons, icon-qrcode-bg), 441, 227);
				padding-top: 25px;

				span {
					margin: 0 20px;
				}

				.icon-qrcode-android {
					@include background(map-get($icons, icon-qrcode-android), 150, 150);
				}

				.icon-qrcode-ios {
					@include background(map-get($icons, icon-qrcode-ios), 150, 150);
				}
			}

			.download-pc-link {
				display:inline-block;
				background-color: #3eccc3;
				line-height: 20px;
				padding: 5px 10px;
				@include border-radius(15);
				margin-top: 30px;

				a {
					color: #e9f3f2;
					font-size: 16px;
				}
			}

			.android {
				margin-right: 30px;
			}

			.ios {
				margin-left: 30px;
			}
		}

		@media only screen and (max-height: 768px) {

			.icon-slogan1 {
				@include background(map-get($icons, icon-slogan1), 894, 164 * 0.85);
			}

			.icon-phone {
				@include background(map-get($icons, icon-phone), 422 * 0.7, 673 * 0.7);
				left: 100px;
			}

			.right {
				right: 100px;
				bottom: 100px;

				.icon-slogan2 {
					@include background(map-get($icons, icon-slogan2), 271 * 0.7, 34 * 0.7);
				}

				.android {
					margin-right: 15px;
				}

				.ios {
					margin-left: 15px;
				}
			}
		}
	}
}

.section2 {

	.icon-section2-bg {
		@include background(map-get($icons, icon-section2-bg));
		display: block;
	}
}

.section3 {
	
	.icon-section3-bg {
		@include background(map-get($icons, icon-section3-bg));
		display: block;
	}
}

.section4 {
	background-color: #282e33;
	
	.content {

		.icon-slogan3 {
			@include background(map-get($icons, icon-slogan3), 1023, 149);
		}

		.left {
			display: inline-block;
			margin-right: 50px;

			.download {
				display: inline-block;
				border: 1px solid #2369b5;
				margin: 0 10px;

				.icon-ios {
					@include background(map-get($icons, icon-ios), 58, 70);
				}

				.icon-android {
					@include background(map-get($icons, icon-android), 75, 88);
				}
			}

			.ios {
				padding: 29px 35px;
			}

			.android {
				padding: 20px 26.5px;
			}

			.text {
				color: #2369b5;
				font-size: 24px;
				font-family: Microsoft Yahei;

				.text-left {
					position: relative;
					left: -25px;
				}

				.text-right {
					position: relative;
					right: -58px;
				}
			}
		}

		.right {
			display: inline-block;
			font-family: hiragino sans gb,microsoft yahei,simsun;
			font-size: 20px;
			color: #7e90ae;
			text-align: left;
			margin-left: 50px;
		
			p {
				font-size: 14px;
			}
		}
	}
}
