@import '_base';

$icons: (
	
);

.container {
	
	.section {
		padding: 0 0; 
	}

	.search-wrapper {
		text-align: center;
	}

	.tabs-wrapper > p:first-of-type {
		line-height: 40px;
	}

	.tabs-wrapper .course {
		& > div {
			display: inline-block;
			border-bottom: 1px solid #BACADE;
			padding: 15px 0;
			position: relative;
			width: 100%;
			&:last-of-type {
				border: 0;
			}
			img {
				margin: 0 10px;
			}
			.title {
				font-size: 16px;
				margin-right: 10px;
				@include text-overflow(670);
			}
			.author, .release, .date {
				font-size: 14px;
				color: #8C8C8C;
				margin: 0 5px;
			}
			.author {
				margin: 0;
			}
			.reply, .visit {
				position: absolute;
				font-size: 14px;
				right: 0;
			}
			.reply {
				top: 15px;
				color: #3a6ba4;
				width: 100px;
				text-align: center;
			}
		}
	}

	.course-wrapper {
		border: 2px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 30px;

		.title {
			line-height: 60px;
			background: #e4edf9;
			color: #2d7bbd;
			font-size: 24px;
			padding: 0 50px;
			border-bottom: 2px solid rgba(0, 0, 0, 0.2);
			box-sizing: border-box;
		}

		.content {
			padding: 10px 0;
			background: #F5F5F5;

			.row {
				border-bottom: 1px dashed #888888;
				position: relative;

				.department {
				    margin: 10px 0;
					font-size: 14px;
					display: inline-block;
					width: 19.5%;
					padding-left: 30px;
					.mark-wrapper {
						display: inline-block;
						line-height: 22px;
						a {
							color: purple;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.name-wrapper {
						display: inline-block;
						vertical-align: top;
						a {
							color: #2d7bbd;
							display: inline-block;
							@include text-overflow(150);

							&:hover {
								text-decoration: underline;
							}
						}
					}

					a {
						margin-right: 5px;
					}
				}

				&:last-of-type {
					border: 0;
				}
			}
		}
	}
}
