@import '_base';

$icons: (

);

.container {
	
	.section {
		padding: 0 0; 
	}

	.district, .management {
		border: 2px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 30px;

		.title {
			line-height: 60px;
			background: #e4edf9;
			color: #2d7bbd;
			font-size: 24px;
			padding: 0 50px;
			border-bottom: 2px solid rgba(0, 0, 0, 0.2);
			box-sizing: border-box;
		}

		.content {
			padding: 10px 0;
			background: #F5F5F5;

			.row {
				border-bottom: 1px dashed #888888;
				position: relative;

				.school {
				    margin: 10px 0;
					font-size: 14px;
					display: inline-block;
					width: 20%;
					padding-left: 30px;

					.name-wrapper {
					
						a {
							color: #2d7bbd;
							display: inline-block;
							@include text-overflow(150);

							&:hover {
								cursor: default;
							}
						}
					}

					a {
						margin-right: 5px;
					}
				}

				.mng-link {
					font-size: 20px;
					line-height: 30px;
					width: 20%;
					display: inline-block;
					text-align: center;
					margin: 10px 0;

					.unread {
						color: #d92828;
					}
				}

				&:last-of-type {
					border: 0;
				}
			}
		}
	}
}
