@import '_base';

$icons: (
	icon-communication: '/images/web/forum/communication.png',
	icon-practice: '/images/web/forum/practice.png',
	icon-waiting: '/images/web/forum/waiting.png',
	icon-search: '/images/web/forum/search.png',
);

.container {
	
	.section {
		padding: 0 0; 
	}

	.common-course {
		margin-bottom: 30px;

		.title {
			border: 1px solid rgba(0, 0, 0, 0.2);
			box-sizing: border-box;
			background: #fafafa;
			height: 40px;
			font-size: 18px;
			padding: 0 20px;

			span {
				line-height: 40px;
			}
		}

		.content {
			border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
			padding: 20px 30px;
			text-align: center;

			.area {
				display: inline-block;
				width: 300px;
				text-align: left;

				.icon-communication {
					@include background(map-get($icons, icon-communication), 85, 85, 39, 35);
					background-color: #EEEEEE;
					margin-right: 10px;
				}

				.icon-practice {
					@include background(map-get($icons, icon-practice), 85, 85, 29, 33);
					background-color: #EEEEEE;
					margin-right: 10px;
				}

				.icon-waiting {
					@include background(map-get($icons, icon-waiting), 85, 85, 36, 25);
					background-color: #EEEEEE;
					margin-right: 10px;
				}

				p {
					font-size: 14px;
					color: #5e5e5e;
				 @include text-overflow(186);
				}

				.name {
					
					a, span {
						color: #f6211c;
						font-size: 16px;
					}
				}
			}
		}
	}

	.search-section {
		margin-bottom: 20px;

		input[type="text"] {
			width: 200px;
			height: 35px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			font-size: 14px;
			padding: 0 3px;
		}

		select {
			width: 100px;
			height: 35px;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}

		button {
			vertical-align: middle;
			margin: 0px 5px;
			@include background(map-get($icons, icon-search), 36, 36, 17, 18);
			background-color: white;
			border-radius: 8px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-color: white;
			border: 1px solid #2C81BF;
			outline: 0;
		}

		a {
			margin: 0 10px;
			font-size: 14px;
			color: #2d7bbd;

			&:hover {
				color: $color-a-hover;
			}
		}
	}

	.district, .management {
		border: 2px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 30px;

		.title {
			line-height: 60px;
			background: #e4edf9;
			color: #2d7bbd;
			font-size: 24px;
			padding: 0 50px;
			border-bottom: 2px solid rgba(0, 0, 0, 0.2);
			box-sizing: border-box;
		}

		.content {
			padding: 10px 0;
			background: #F5F5F5;

			.row {
				border-bottom: 1px dashed #888888;

				.school {
				    margin: 10px 0;
					font-size: 14px;
					display: inline-block;
					width: 16.6%;
					padding-left: 30px;

					.name-wrapper {
					
						a {
							color: #2d7bbd;
							display: inline-block;
							@include text-overflow(125);

							&:hover {
								cursor: default;
							}
						}
					}

					a {
						margin-right: 5px;
					}
				}

				.mng-link {
					font-size: 20px;
					line-height: 30px;
					width: 20%;
					display: inline-block;
					text-align: center;
					margin: 10px 0;

					.unread {
						color: #d92828;
					}
				}

				&:last-of-type {
					border: 0;
				}
			}
		}
	}
}
