@import '_base';

$icons: (
	icon-arrow-down: '/images/web/forum_college/arrow-down.png',
	icon-arrow-down-gray: '/images/web/forum_college/arrow-down-gray.png',
	icon-ad-right: '/images/web/forum_college/ad-right.png',
	icon-arrow-up: '/images/web/forum_college/arrow-up.png',
);

.container {
	overflow: hidden;

	.left {
		display: inline-block;
		width: 170px;

		.hot-section, .recommend {
			border: 1px solid #C2D5E3;
			width: 155px;
			background: #FAFAFA;

			ul {
				margin: 0;
				padding: 0;
			}

			.title {
				padding-left: 20px;
				line-height: 40px;
				font-size: 18px;
				border-bottom: 1px solid #C2D5E3;
			}
		}

		.hot-section {

			.content {
				padding: 5px 10px;

				ul li {
					font-size: 12px;
					line-height: 24px;
					padding-left: 20px;

					&:first-of-type {
						font-size: 14px;
						line-height: 35px;
						border-bottom: 1px solid rgba(0, 0, 0, 0.2);
					}
				}
			}
		}

		.recommend {
			margin: 30px 0;

			.content {
				padding: 0 5px;

				ul li {
					font-size: 14px;
					height: 90px;
					margin: 10px 0;

					p {
						text-align: right;

						.bbs-author {
							color: #656565;
						}
					}

					.bbs-title {
						display: inline-block;
						width: 143px;
						max-height: 65px;
					    text-overflow: ellipsis;
					    overflow: hidden;
					}
				}
			}
		}
	}

	.right {

		.head {
			width: 1080px;
			padding-left: 20px;
			line-height: 40px;
			font-size: 18px;
			border: 1px solid #C2D5E3;
			background: #FAFAFA;

			.today, .topic {
				font-size: 16px;
				margin: 0 30px;
			}

			.red {
				color: #fe4a4a;
			}
		}

		.forum-body {
			width: 900px;
			padding: 0 10px;

			.button {
				display: inline-block;
				width: 90px;
				height: 43px;
				@include border-radius(5);
				color: white;
				background: #498ACC;
				text-align: center;
				line-height: 43px;
				cursor: pointer;
				font-size: 18px;
				margin: 20px 10px;

				.icon-arrow-down {
					@include background(map-get($icons, icon-arrow-down), 9, 5);
					position: relative;
					right: -10px;
				}
			}

			.am-pagination {
				margin-top: 20px;

				a {
					cursor: pointer;
				}
			}

			.keyword-section {
				border-top: 2px solid #BCBCBC;
				padding: 20px 0;

				p:first-of-type {
					text-align: right;
					padding: 0 5px;
					font-size: 12px;

					a {
						color: #94A9C8;
					}

					.icon-arrow-up {
						@include background(map-get($icons, icon-arrow-up), 9, 5);
						margin: 0 3px;
					}
				}

				.keyword-wrapper {
					display: inline-block;
					text-align: center;
					background: #F6F6F6;
					box-sizing: border-box;
					border: 1px solid rgba(0, 0, 0, 0.1);
					padding: 0 5px;
					margin-bottom: 3px;

					.keyword {
						font-size: 14px;
						padding-top: 2px;
						margin: 0 5px;
					}

					.number {
						background: #BCBCBC;
						font-size: 10px;
						color: #E5E5E5;
						position: relative;
						top: -1.5px;
					}
				}

				.active {
					color: #7198C6;
					border: 1px solid #7198C6;
					background: #E5EDF2;

					.number {
						color: #E5E5E5;
					}
				}
			}

			.operation-bar {
				height: 35px;
				line-height: 35px;
				background: #e2f0fa;
				border: 1px solid #C2D5E3;
				padding: 0 10px;
				font-size: 14px;

				.operation {
					color: #4972ab;
					margin: 0 5px;

					.icon-arrow-down-gray {
						@include background(map-get($icons, icon-arrow-down-gray), 11, 6);
					}
				}

				span {
					margin-right: 20px;
				}
			}

			.article {
				padding: 0 15px;
				background: #F9F9F9;
				border: 1px solid #E2E2E2;

				ul {
					padding: 0;
					margin: 0;

					li {
						border-bottom: 1px solid #BACADE;
						padding: 15px 0;

						&:last-of-type {
							border: 0;
						}

						img {
							margin: 0 10px;
						}

						.title {
							font-size: 16px;
							margin-right: 10px;
						}

						.author, .release, .date, .time {
							font-size: 14px;
							color: #8C8C8C;
							margin: 0 5px;
						}

						.author {
							margin: 0;
						}

						.reply, .visit {
							position: relative;
							font-size: 14px
						}

						.reply {
							right: 55px;
							top: -20px;
							color: #3a6ba4;
						}

						.visit {
							right: -11px;
							top: 0px;
						}
					}
				}
			}

			.write {
				margin: 20px 0;
				border: 1px solid #C2D5E3;

				.title {
					padding-left: 20px;
					line-height: 40px;
					font-size: 18px;
					border-bottom: 1px solid #C2D5E3;
					background: #e2f0fa;
					color: #4972ab;
				}

				.content {
					padding: 15px;
					background: #FAFAFA;

					select {
						width: 90px;
					}

					input[type="text"] {
						width: 350px;
						margin: 20px;
					}

					span {
						font-size: 14px;
					}

					textarea {
						width: 100%;
						height: 200px;
						resize: none;
						overflow: auto;
					}

					.button {
						margin: 0;
						margin-top: 10px;
						height: 30px;
						line-height: 30px;
					}
				}
			}
		}

		.icon-ad-right {
			@include background(map-get($icons, icon-ad-right), 175, 200);
		}
	}		
}
