@import '_image';

$icons: (
	icon-top-bar-arrow: '/images/web/header/top-bar-arrow.png',
	icon-phone: '/images/web/header/phone.png',
	icon-weixin: '/images/web/header/weixin.png',
	icon-weibo: '/images/web/header/weibo.png',
	icon-qq: '/images/web/header/qq.png',
	icon-logo: '/images/web/header/logo.png',
	icon-search: '/images/web/header/search.png',
	icon-arrow-up: '/images/web/header/arrow-up.png',
	icon-arrow-down: '/images/web/header/arrow-down.png',
);

.header {

	.modal-login, .modal-register {

		.am-modal-hd {
			text-align: left;
			background: #F7F7F7;
			border-bottom: 2px solid #C9C9C9;
			line-height: 45px;
		}

		.am-modal-bd {
			text-align: center;
			padding: 30px 90px;
			color: #A5A5A5;

			input[type="text"], input[type="password"] {
				display: inline-block;
				width: 350px;
				height: 40px;
				margin: 5px 0;
				padding-left: 35px;
				color: #333333;
			}

			input[type="checkbox"] {
				width: 15px;
				height: 15px;
				margin: 0 5px;
				position: relative;
				top: 2px;
			}

			.button {
				display: inline-block;
				width: 350px;
				line-height: 40px;
				color: white;
				background: #00A0E9;
				margin: 10px 0;
			}

			.color-link {
				color: #00A0E9;
			}

			.al {
				text-align: left;
			}

			.fr {
				float: right;
			}
		}
	}

	.modal-login {

		.am-modal-bd {

			.forget {
				float: right;
				color: #00A0E9;
			}
		}
	}

	.modal-register {

		.am-modal-bd {

			input[type="text"], input[type="password"] {
				padding-left: 15px;
			}

			input.captcha {
				width: 200px;
				margin-left: 5px;
			}

			.get-captcha {
				width: 110px;
				line-height: 30px;
				text-align: center;
				margin: 0;
				margin-left: 15px;
				position: relative;
				top: 1px;
			}
		}
	}
	
	.top-bar {
		height: 50px;
		box-sizing: border-box;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		background-color: #F5F7FA;

		.navs {
			display: inline-block;
			font-size: 12px;
			line-height: 50px;
			margin-left: 100px;

			.nav {
				margin: 0 10px;
				display: inline-block;
				position: relative;

				a {
					color: #333333;

					.icon-top-bar-arrow {
						@include background(map-get($icons, icon-top-bar-arrow), 11, 6);
					}
				}

				a:hover {
					color: #0E9F4E;
				}
			}
		}

		.icons-wrapper {
			float: right;
			line-height: 50px;
			margin-right: 100px;

			.icon {
				margin: 0 10px;
			}

			.icon-phone {
				@include background(map-get($icons, icon-phone), 13, 19);
			}

			.icon-weixin {
				@include background(map-get($icons, icon-weixin), 19, 15);
			}

			.icon-weibo {
				@include background(map-get($icons, icon-weibo), 19, 15);
			}

			.icon-qq {
				@include background(map-get($icons, icon-qq), 17, 18);
			}
		}
	}

	.middle {
		padding-top: 35px;
		
		.icon-logo {
			@include background(map-get($icons, icon-logo), 351, 41);
			margin-left: 130px;
		}

		.right {
			float: right;
			margin-right: 100px;
			font-size: 12px;

			.icon, span {
				margin: 0 20px;
			}

			.login, .register {

				a:hover {
					color: #0E9F4E;
				}
			}

			.icon-search {
				@include background(map-get($icons, icon-search), 17, 18);
			}
		}
	}

	.nav-bar {
		line-height: 50px;
		font-size: 20px;
		text-align: center;
		margin-top: 30px;

		dl {

			dt {
				display: inline-block;
				margin: 0 20px;
				padding: 5px 20px;

				.icon-arrow {
					@include background(map-get($icons, icon-arrow-down), 14, 9);
				}
			}

			dt.popup:hover {

				.icon-arrow {
					@include background(map-get($icons, icon-arrow-up), 14, 9);
				}
			}

			.popup-wrapper {
				padding-top: 50px;

				.content {
					font-weight: normal;
				}
			}
		}
	}
}
