@import '_image';

$icons: (
	icon-ad: '/images/web/header_forum/ad.png',
	icon-banner: '/images/web/header_forum/banner.png',
	icon-logo: '/images/web/header_forum/logo.png',
	icon-search: '/images/web/header_forum/search.png',
	icon-banner2: '/images/web/header_forum/banner2.png',
	icon-home: '/images/web/header_forum/home.png',
	icon-arrow-right: '/images/web/header_forum/arrow-right.png',
);

.header-forum {
	.section1 {
		text-align: center;

		.icon-ad {
			@include background(map-get($icons, icon-ad), 190, 79);
		}

		.icon-banner {
			@include background(map-get($icons, icon-banner), 825, 80);
		}
	}

	.section2 {

		.icon-logo {
			@include background(map-get($icons, icon-logo), 562, 107);
		}

		.login {
			display: inline-block;
			font-size: 18px;
			margin-top: 15px;

			table tbody tr {

				td:first-child {
					text-align: right;
				}

				td {
					padding: 3px 10px;
					text-align: center;

					input[type="checkbox"] {
						width: 20px;
						height: 20px;
					    vertical-align: middle;
					    margin: 0 5px;
					}

					button {
						font-weight: bold;
						width: 100%;
					}

					.register {
						color: #163575;
						font-weight: bold;
					}
				}
			}
		}
	}

	.section3 {
		background: #2d7bbd;

		.navs {
			margin: 0;
			padding: 10px 20px;
			display: inline-block;

			.nav {
				display: inline-block;
				height: 40px;
				line-height: 40px;
				font-size: 22px;
				font-weight: bold;
				padding: 0 10px;
				box-sizing: border-box;
				border-left: 1px solid rgba(255, 255, 255, 0.15);

				a {
					color: white;
				}
			}

			.nav:first-of-type {
				border: 0
			}

			.popup {
				position: relative;

				.popup-wrapper {
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					padding: 0 0;
					z-index: -1;
					border: 0;
					border-radius: 0px;
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					box-sizing: border-box;
					background-color: white;
					box-shadow: 0 6px 12px rgba(0,0,0,.175);

					.content {
						font-size: 12px;
						line-height: 30px;
						text-align: center;

						ul {
							margin: 0;
							padding: 0 10px;

							li {
								height: 40px;
								border-top: 1px solid rgba(0, 0, 0, 0.2);
								box-sizing: border-box;

								&:first-of-type {
									border: 0;
								}
							}
						}

						a {
							color: #333333;
							font-size: 18px;
							line-height: 40px;

							&:hover {
								color: #0E9F4E;
							}
						}
					}
				}

				&:hover {

					.popup-wrapper {
						display: inline-block;
					}
				}
			}
		}

		.search {
			line-height: 60px;

			input[type="text"] {
				width: 270px;
				height: 37px;
				outline: 0;
			}

			button {
				vertical-align: middle;
				margin: 0px 5px;
				@include background(map-get($icons, icon-search), 36, 36, 17, 18);
				background-color: white;
				border-radius: 8px;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				border-color: white;
			}
		}
	}

	.section4 {

		.icon-banner2 {
			@include background(map-get($icons, icon-banner2), 100%, 114);
		}
	}

	.section5 {
		padding: 10px 0;
		
		.link {
			font-size: 18px;

			&:last-of-type {
				font-weight: bold;
			}
		}

		.icon-home {
			@include background(map-get($icons, icon-home), 22, 18);
		}

		.icon-arrow-right {
			@include background(map-get($icons, icon-arrow-right), 8, 18);
			margin: 0 10px;
		}

		.icon {
			margin-top: -5px;
		}
	}	
}
