@import '_base';

$icons: (
	icon-zixun: '/images/web/index/zixun.png',
	icon-ziliao: '/images/web/index/ziliao.png',
	icon-kecheng: '/images/web/index/kecheng.png',
	icon-yanyou: '/images/web/index/yanyou.png',
	icon-dayi: '/images/web/index/dayi.png'	,
	image-slider: '/images/web/index/banner.png',
	icon-practive-everyday: '/images/web/index/practice-everyday.png',
	icon-arrow-right: '/images/web/index/arrow-right.png',
	icon-app: '/images/web/index/app.png',
	icon-vip: '/images/web/index/vip.png',
	icon-exam: '/images/web/index/exam.png',
	icon-course: '/images/web/index/course.png',
	icon-time: '/images/web/index/time.png',
	icon-person1: '/images/web/index/person1.png',
	icon-person2: '/images/web/index/person2.png',
	icon-person3: '/images/web/index/person3.png',
	icon-person4: '/images/web/index/person4.png',
	icon-1: '/images/web/index/1.png',
	icon-2: '/images/web/index/2.png',
	icon-3: '/images/web/index/3.png',
	icon-4: '/images/web/index/4.png',
	icon-5: '/images/web/index/5.png',
	icon-6: '/images/web/index/6.png',
	icon-bottom: '/images/web/index/bottom.png',
	icon-search: '/images/web/index/search.png',
);

dt {
	font-weight: normal;
}

.container {
	
	.section {

		.col {
			display: inline-block;
		}

		ul.am-nav-tabs {
			text-align: center;
			border-bottom: 1px solid #0E9F4E;

			li {
				display: inline-block;
				float: none;
				width: 230px;
				height: 40px;
				background-color: #D8D8D8;

				a {
					border: 0;
					background-color: #D8D8D8;
				}
			}

			li:hover {
			    background-color: #D8D8D8;
			}

			li.am-active, li.am-active:hover {
				background-color: #0E9F4E;

				a {
					background-color: #0E9F4E;
					color: white;
				}
			}

			li:first-of-type {
				margin-left: 0;
			}

			li:last-of-type {
				margin-right: 0;
			}
		}
	}

	.search-wrapper {
		text-align: center;
	}

	.tab-wrapper {
		& > .tabs {
			min-height: 520px;
		}
	}

	.section .college {
		.row {
			border-bottom: 1px dashed #888888;
			position: relative;
			.school {
			    margin: 10px 0;
				font-size: 14px;
				display: inline-block;
				width: 20%;
				padding-left: 30px;
				.name-wrapper {
					a {
						color: #2d7bbd;
						display: inline-block;
						@include text-overflow(150);
						&:hover {
							cursor: default;
						}
					}
				}
				a {
					margin-right: 5px;
				}
			}
			&:last-of-type {
				border: 0;
			}
		}
	}

	.section .article {
		& > div {
			display: inline-block;
			border-bottom: 1px solid #BACADE;
			padding: 15px 0;
			position: relative;
			width: 100%;
			&:last-of-type {
				border: 0;
			}
			img {
				margin: 0 10px;
			}
			.title {
				font-size: 16px;
				margin-right: 10px;
				@include text-overflow(670);
			}
			.author, .release, .date {
				font-size: 14px;
				color: #8C8C8C;
				margin: 0 5px;
			}
			.author {
				margin: 0;
			}
			.reply, .visit {
				position: absolute;
				font-size: 14px;
				right: 0;
			}
			.reply {
				top: 15px;
				color: #3a6ba4;
				width: 100px;
				text-align: center;
			}
			.visit {
				top: 35px;
				width: 100px;
				text-align: center;
			}
		}
	}

	.section .news {
		& > div {
			display: inline-block;
			width: 100%;
			font-size: 14px;
			line-height: 32px;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
			.icon-arrow-right {
				@include background(map-get($icons, icon-arrow-right), 5, 9);
				position: relative;
				top: -2px;
				margin: 0 3px;
			}
		}
	}

	.section1 {
		position: relative;

		.left-nav-bar {
			margin-top: 1px;
			width: 180px;
			height: 350px;
			text-align: center;
			box-sizing: border-box;
			background-color: white;

			.icon {
				margin: 0 5px;
			}

			.icon-zixun {
				@include background(map-get($icons, icon-zixun), 24, 16);
			}

			.icon-ziliao {
				@include background(map-get($icons, icon-ziliao), 18, 20);
			}

			.icon-kecheng {
				@include background(map-get($icons, icon-kecheng), 16, 20);
			}

			.icon-yanyou {
				@include background(map-get($icons, icon-yanyou), 24, 15);
			}

			.icon-dayi {
				@include background(map-get($icons, icon-dayi), 24, 17);
			}

			ul {
				padding: 0;
				margin: 0;
				box-sizing: border-box;

				li {
					border-bottom: 1px solid #C3C3C3;
					box-sizing: border-box;

					a {
						height: 69px;
						line-height: 69px;
						width: 180px;
						display: inline-block;

						img {
							margin-right: 10px;
							width: 24px;
							height: 16px;
						}
					}

					a:hover {
						color: white;
					}
				}

				li:hover {
					background-color: #0E9F4E;

					a {
						color: white;
					}
				}

				li:first-of-type {
					border-top: 1px solid #C3C3C3;
					margin-top: -1px;

					a {
						height: 68px;
						line-height: 68px;
					}
				}
			}
		}

		.image-slider {
			@include background(map-get($icons, image-slider), 1250, 350);
		}

		.right {
			position: absolute;
			top: 2px;
			right: 0px;
			background-color: white;
			width: 210px;
			text-align: center;

			.top {
				box-sizing: border-box;
				border-bottom: 1px solid #DDDDDD;

				p {
					line-height: 30px;
					font-size: 18px;
				}
			}

			.middle {
				font-size: 14px;
				padding: 10px 0;
				padding-left: 20px;
				box-sizing: border-box;
				border-bottom: 1px solid #DDDDDD;

				.title {
					text-align: left;
					margin: 5px 0;
				}

				.icon-practive-everyday {
					@include background(map-get($icons, icon-practive-everyday), 22, 22);
				}

				.icon-arrow-right {
					@include background(map-get($icons, icon-arrow-right), 8, 12);
					margin-top: 5px;
					margin-right: 10px;
				}

				.content {
					text-align: left;
					margin-left: 50px;
					
					a {
						color: #AAAAAA;
					}
				}

				.active {
					
					a {
						color: #1a7ecb;
					}
				}
			}

			.bottom {
				padding: 5px 0;

				.icon-row-wrapper {

					p {
						font-size: 12px;
					}

					.icon-row {
						display: inline-block;
						padding: 12px 0;
						width: 75px;
						margin: 1px;
						background-color: rgba(240, 240, 240, 0.6);

						.icon-app {
							@include background(map-get($icons, icon-app), 31, 34);
						}

						.icon-vip {
							@include background(map-get($icons, icon-vip), 32, 29);
						}

						.icon-exam {
							@include background(map-get($icons, icon-exam), 35, 28);
						}

						.icon-course {
							@include background(map-get($icons, icon-course), 38, 26);
						}
					}
				}
			}
		}
	}

	.section2 {
		padding: 50px 0;

		.icon-time {
			@include background(map-get($icons, icon-time), 100%, 154);
		}
	}

	.section3 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		padding: 20px 0;

		.row-1 {
			font-size: 38px;
			margin: 10px 0;

			.highlight {
				color: #FBACA7;
			}
		}
	}

	.section4 {
		text-align: center;
		display: inline-block;
		width: 1250px;
		height: 400px;
		position: relative;
		overflow: hidden;
		.slide-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.image-wrapper:first-of-type {
				margin-left: 0;
			}
			.image-wrapper {
				display: inline-block;
				width: 300px;
				position: relative;
				margin-left: -5px;
				.icon-person1 {
					@include background(map-get($icons, icon-person1), 100%, $container-width * 0.245 / 360 * 455);
				}
				.icon-person2 {
					@include background(map-get($icons, icon-person2), 100%, $container-width * 0.245 / 360 * 455);
				}
				.icon-person3 {
					@include background(map-get($icons, icon-person3), 100%, $container-width * 0.245 / 360 * 455);
				}
				.icon-person4 {
					@include background(map-get($icons, icon-person4), 100%, $container-width * 0.245 / 360 * 455);
				}
				.slogan {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					color: white;
					padding: 5px 10px;
					font-size: 12px;
					text-align: left;
					background: rgba(0, 0, 0, 0.8);
					.left-name {
						font-size: 26px;
						font-weight: bold;
					}
					p {
						width: 100%;
						min-height: 38px;
					}
				}
			}
		}
	}

	.section5 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		padding: 20px 0;

		.row-2 {
			font-size: 38px;
			margin-top: 30px;
			margin-bottom: 10px;

			.highlight {
				color: #FBACA7;
			}
		}
	}

	.section6 {
		text-align: center;
		padding: 20px 0;
		position: relative;

		.icon-1 {
			@include background(map-get($icons, icon-1), 390, 210);
		}

		.icon-2 {
			@include background(map-get($icons, icon-2), 390, 210);
		}

		.icon-3 {
			@include background(map-get($icons, icon-3), 390, 210);
		}
	}

	.section7 {
		padding: 10px 0 30px 0;

		ul.am-nav-tabs {
			display: inline-block;

			li {
				margin: 0 10px;
			}
		}
	}

	.section8 {
		text-align: center;
		padding: 20px 0;
		position: relative;

		.icon-4 {
			@include background(map-get($icons, icon-4), 390, 210);
		}

		.icon-5 {
			@include background(map-get($icons, icon-5), 390, 210);
		}

		.icon-6 {
			@include background(map-get($icons, icon-6), 390, 210);
		}
	}

	.section9 {
		padding: 10px 0 30px 0;

		ul.am-nav-tabs {
			display: inline-block;

			li {
				width: 390px;
				margin: 0 17.5px;
			}
		}
	}

	.section10 {

		.icon-bottom {
			@include background(map-get($icons, icon-bottom), 100%, 223);
		}
	}
}