@import '_base';

dt {
	font-weight: normal;
}

.container {
	
	.section {

		.col {
			display: inline-block;
		}

		ul.am-nav-tabs {
			text-align: center;
			border-bottom: 1px solid #0E9F4E;

			li {
				display: inline-block;
				float: none;
				width: 230px;
				height: 40px;
				background-color: #D8D8D8;

				a {
					border: 0;
					background-color: #D8D8D8;
				}
			}

			li:hover {
			    background-color: #D8D8D8;
			}

			li.am-active, li.am-active:hover {
				background-color: #0E9F4E;

				a {
					background-color: #0E9F4E;
					color: white;
				}
			}

			li:first-of-type {
				margin-left: 0;
			}

			li:last-of-type {
				margin-right: 0;
			}
		}
	}

	.section1 {
		position: relative;

		.left-nav-bar {
			margin-top: 1px;
			width: 180px;
			height: 350px;
			text-align: center;
			box-sizing: border-box;
			background-color: white;

			ul {
				padding: 0;
				margin: 0;
				box-sizing: border-box;

				li {
					border-bottom: 1px solid #C3C3C3;
					box-sizing: border-box;

					a {
						height: 69px;
						line-height: 69px;
						width: 180px;
						display: inline-block;

						img {
							margin-right: 10px;
							width: 24px;
							height: 16px;
						}
					}

					a:hover {
						color: white;
					}
				}

				li:hover {
					background-color: #0E9F4E;

					a {
						color: white;
					}
				}

				li:first-of-type {
					border-top: 1px solid #C3C3C3;
					margin-top: -1px;

					a {
						height: 68px;
						line-height: 68px;
					}
				}
			}
		}

		.image-slider {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		.right {
			position: absolute;
			top: 2px;
			right: 0px;
			background-color: white;
			width: 210px;
			text-align: center;

			.top {
				box-sizing: border-box;
				border-bottom: 1px solid #DDDDDD;

				p {
					line-height: 30px;
					font-size: 18px;
				}
			}

			.middle {
				font-size: 14px;
				padding: 10px 0;
				padding-left: 20px;
				box-sizing: border-box;
				border-bottom: 1px solid #DDDDDD;

				.title {
					text-align: left;
					margin: 5px 0;
				}

				.icon {
					float: left;
				}

				.arrow-right {
					float: right;
					margin-top: 5px;
					margin-right: 10px;
				}

				.content {
					text-align: left;
					margin-left: 50px;
					
					a {
						color: #AAAAAA;
					}
				}

				.active {
					
					a {
						color: #1a7ecb;
					}
				}
			}

			.bottom {
				padding: 5px 0;

				.icon-row {

					p {
						font-size: 12px;
					}

					.icon {
						display: inline-block;
						padding: 12px 0;
						width: 75px;
						margin: 1px;
						background-color: rgba(240, 240, 240, 0.6);
					}
				}
			}
		}
	}

	.section2 {
		padding: 50px 0;
	}

	.section3 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		padding: 20px 0;

		.row-1 {
			font-size: 38px;
			margin: 10px 0;

			.highlight {
				color: #FBACA7;
			}
		}
	}

	.section4 {
		text-align: center;

		.image-wrapper:first-of-type {
			margin-left: 0;
		}

		.image-wrapper {
			display: inline-block;
			width: 24.5%;
			position: relative;
			margin-left: -5px;

			.slogan {
				position: absolute;
				bottom: 0;
				left: 0;
				color: white;
				padding: 5px 10px;
				font-size: 12px;
				text-align: left;

				.left-name {
					font-size: 26px;
					font-weight: bold;
				}

				.right {
					float: right;
					color: #f9776e;
					font-size: 18px;
					border: 2px solid #f9776e;
					box-sizing: border-box;
					padding: 2px 30px;

					a, a:hover {
						color: #f9776e;
					}
				}
			}
		}
	}

	.section5 {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		padding: 20px 0;

		.row-2 {
			font-size: 38px;
			margin-top: 30px;
			margin-bottom: 10px;

			.highlight {
				color: #FBACA7;
			}
		}
	}

	.section6 {
		text-align: center;
		padding: 20px 0;
		position: relative;

		.left {
			float: left;
		}

		.right {
			float: right;
		}
	}

	.section7 {
		padding: 10px 0 30px 0;

		ul.am-nav-tabs {

			li {
				margin: 0 10px;
			}
		}
	}

	.section8 {
		text-align: center;
		padding: 20px 0;
		position: relative;

		.left {
			float: left;
		}

		.right {
			float: right;
		}
	}

	.section9 {
		padding: 10px 0 30px 0;

		ul.am-nav-tabs {

			li {
				width: 390px;
				margin: 0 17.5px;
			}
		}
	}
}
