@import '_base';

$icons: (
	icon-college: '/images/web/news_college/college.png',
);

$color-blue: #2D7BBD;

.point {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: #65A7E0;
	@include border-radius(20);
	margin-right: 8px;
	position: relative;
	top: -4px;
}

.blue {
	color: $color-blue;

	&:hover {
		color: $color-a-hover;
	}
}

body {
	background: #F5F5F5;
}

.container {
	
	.introduction, .apply, .school-wrapper {
		border: 2px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 30px;
		background: white;

		.title {
			line-height: 60px;
			background: #e4edf9;
			color: #2d7bbd;
			font-size: 24px;
			padding: 0 50px;
			border-bottom: 2px solid rgba(0, 0, 0, 0.2);
			box-sizing: border-box;
		}

		.content {
			
		}
	}

	.introduction {
		overflow: hidden;

		.content {
			position: relative;
			overflow: hidden;

			.left {
				width: 350px;
				margin-left: -100%;

				.image-slider {

					.icon-college {
						@include background(map-get($icons, icon-college), 350, 300);
					}
				}

				.college-info {
					font-size: 14px;
					color: #808080;
					padding: 10px;

					.brief {
						width: 330px;
						height: 66px;
						line-height: 22px;
						overflow:hidden;
					}

					.detail {

						&:before, &::before {
							content: '...';
							color: #808080;
						}
					}
				}
			}

			.center-wrapper {
				width: 100%;

				.center {
					font-size: 14px;
					padding: 10px 15px;
					width: 540px;
					margin-left: 350px;
					text-align: center;
					padding-left: 40px;

					& > div {
						margin-left: 10px;
					}

					.lower {
						ul {
							padding: 0;
							margin: 0;

							li {
								text-align: left;

								a {
									color: #808080;

									&:hover {
										color: $color-a-hover;
									}
								}
							}
						}
					}

					.upper {
						border-bottom: 1px solid #BFBFBF;
					    min-height: 60px;

						.top {
							font-size: 24px;
						}

						p {
							@include text-overflow(475);
						}

						/* ul {
							display: inline-block;
							margin: 20px 55px;
							padding: 0;

							li {
								line-height: 24px;
								@include text-overflow(135);
								display: block;
							}
						} */
					}

					.lower {
						padding: 10px 0 10px 0;
						line-height: 27px;

						ul li {
							margin-bottom: 3px;
							@include text-overflow(410);
							font-size: 16px;
							line-height: 22px;
						}
					}
				}
			}

			.right {
				width: 270px;
				border-left: 1px solid #BFBFBF;
				min-height: 485px;
				padding: 10px;
				margin-left: -270px;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;

				.top {
					color: #2D7BBD;
					margin-bottom: 10px;
				}

				p:last-of-type {
					width: 200px;
					margin: 0 auto;

					a {
						color: #808080;

						&:hover {
							color: $color-a-hover;
						}

						.button {
							display: inline-block;
							width: 80px;
							line-height: 35px;
							background: #F4F8FB;
							border: 1px solid rgba(0, 0, 0, 0.2);
							box-sizing: border-box;
							font-size: 14px;
							@include border-radius(20);
							text-align: center;
							margin: 8px 10px;
							color: #939394;

							&:hover {
								color: $color-a-hover;
							}
						}
					}
				}
			}
		}
	}

	.apply {

		.content {

			.layout {
				margin-top: 15px;

				.left, .center, .right {
					vertical-align: top;
				}

				.left {
					border-top: 2px solid rgba(0, 0, 0, 0.2);
					border-right: 2px solid rgba(0, 0, 0, 0.2);
					width: 350px;
					padding: 0 10px 10px 10px;
					box-sizing: border-box;

					.top {
						color: $color-blue;
						padding: 0 30px;
					}

					.image-slider {

						.icon-college {
							@include background(map-get($icons, icon-college), 330, 300);
						}
					}

					ul {
						margin-top: 20px;

						li {
							font-size: 14px;
							@include text-overflow(320);
							line-height: 27px;

							a span {
								color: #808080;

								&:hover {
									color: $color-a-hover;
								}

								&.point {
									background: #808080;
								}
							}
						}
					}
				}

				.center {
					padding: 0 20px;
					width: 594px;

					a {
						color: #808080;

						&:hover {
							color: $color-a-hover;
						}
					}

					.am-tabs:nth-child(2) {
						margin-top: 50px;
					}

					.am-tabs-bd {

						ul li {
							@include text-overflow(531);

							a {
								line-height: 27px;
							}
						}
					}
				}

				.right {
					width: 300px;
					border-top: 2px solid rgba(0, 0, 0, 0.2);
					border-left: 2px solid rgba(0, 0, 0, 0.2);
					box-sizing: border-box;
					padding: 15px 10px;
					font-size: 14px;

					.top {
						color: $color-blue;

						.rect {
							background: $color-blue;
							width: 5px;
							height: 16px;
							display: inline-block;
							position: relative;
						    top: 3px;
						    margin-right: 7px;
						}
					}

					table {
						margin-top: 10px;

						tr {

							td {
								width: 135px;

								a {
									display: inline-block;
									@include text-overflow(135);
									color: #808080;

									&:hover {
										color: $color-a-hover;
									}
								}

								&:nth-child(2) {
									a {
										margin-left: 8px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
