@import '_base';

$icons: (
	icon-arrow-right: '/images/web/news_list/arrow-right.png',
);

.container {
	
	.section {
		padding: 0 0; 
		margin: 20px 0;
	}
	
	.search-wrapper {
		text-align: center;
	}

	.tabs-wrapper > p:first-of-type {
		line-height: 40px;
	}

	.tabs-wrapper .news {
		& > div {
			display: inline-block;
			width: 100%;
			font-size: 14px;
			line-height: 32px;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.3);& > a {
				@include text-overflow(900);
			}
			.icon-arrow-right {
				@include background(map-get($icons, icon-arrow-right), 5, 9);
				position: relative;
				top: -2px;
				margin: 0 3px;
			}
		}
	}

	.board-tabs-wrapper {
		.tabs-bd {
			padding: 0;
			.district {
				border: #ddd 1px solid;
				border-top: 0;
				.content {
					background: white;
				}
			}
		}
	}

	.board-tabs-wrapper, .board-wrapper, .result-wrapper {
		.district {
			border: 2px solid rgba(0, 0, 0, 0.2);
			margin-bottom: 30px;
			.title {
				line-height: 60px;
				background: #e4edf9;
				color: #2d7bbd;
				font-size: 24px;
				padding: 0 50px;
				border-bottom: 2px solid rgba(0, 0, 0, 0.2);
				box-sizing: border-box;
				a {
					color: #2d7bbd;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.content {
				padding: 10px 0;
				background: #F5F5F5;
				.row {
					border-bottom: 1px dashed #888888;
					position: relative;
					.school {
					    margin: 10px 0;
						font-size: 14px;
						display: inline-block;
						width: 20%;
						padding-left: 30px;
						.mark-wrapper {
							display: inline-block;
							line-height: 22px;
							a {
								color: purple;
								&:hover {
									text-decoration: underline;
								}
							}
						}
						.name-wrapper {
							display: inline-block;
							vertical-align: top;
							a {
								color: #2d7bbd;
								display: inline-block;
								@include text-overflow(150);
								&:hover {
									text-decoration: underline;
								}
							}
						}
						a {
							margin-right: 5px;
						}
					}
					&:last-of-type {
						border: 0;
					}
				}
			}
		}
	}

	.hot-wrapper {
		.image-wrapper {
			display: inline-block;
			width: #{140 * 2}px;
			height: #{100 * 2}px;
		}
		.news-wrapper {
			display: inline-block;
			width: #{$container-width - 30 - (140 * 2)}px;
			padding: 0 10px;
			.tabs {
				& > ul.tabs-nav > li > a:hover {
					cursor: default;
				}
				.tabs-bd {
					.news {
						& > div {
							display: inline-block;
							width: 100%;
							font-size: 14px;
							line-height: 32px;
							border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
							& > a {
								@include text-overflow(600);
							}
							.icon-arrow-right {
								@include background(map-get($icons, icon-arrow-right), 5, 9);
								position: relative;
								top: -2px;
								margin: 0 3px;
							}
						}
					}
				}
			}
		}
	}
}