.other-site {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;

	.title {
		border: 0;
		padding: 0 50px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		background: white;
		color: #333333;
		font-size: 20px;
		line-height: 40px;
		text-align: left;
	}

	.content {
		background: white;
		padding: 15px;

		ul {

			li {
				display: inline-block;
				width: 12.5%;
				text-align: center;
				font-size: 14px;
			}
		}
	}
}
