.am-pagination {

	li {
		margin-right: 5px;

		a, span {
			padding: .3em .7em;
		}

		a {
			cursor: pointer;
			margin: 0;
		}

		input {
			width: 75px;
			font-size: 12px;
			margin: 0 10px 0 5px; 
			color: #333333;
		}
	}

	.seperator {
		margin: 0 10px 0 5px; 
	}
}
