.search-section {
	margin-bottom: 20px;
	input[type="text"] {
		width: 450px;
		height: 35px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		font-size: 14px;
		padding: 0 3px;
	}
	select {
		width: 100px;
		height: 35px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	button {
		color: #2C81BF;
		width: 90px;
		line-height: 30px;
		vertical-align: middle;
		margin: 0px 5px;
		background-color: white;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-color: white;
		border: 1px solid #2C81BF;
		outline: 0;
	}
}