.tabs {
	& > ul.tabs-nav {
	    background: #f3f6fb;
		& > li {
			display: inline-block;
			box-sizing: border-box;
			a {
				display: inline-block;
				line-height: 40px;
				padding: 5px 15px;
				border: #f3f6fb 1px solid;
			}
		}
		& > li.active {
			a {
				background: white;
				border: #ddd 1px solid;
				border-bottom-color: white;
			}
		}
	}
	.tabs-bd {
		min-height: 250px;
		padding: 10px;
		.tab-panel:not(:first-of-type) {
			display: none;
		}
	}
	.am-modal#modal-manage > .am-modal-dialog > .am-modal-bd {
		.tab-row {
			text-align: left;
			margin: 10px 0;
			.real-name {
				color: #2d7bbd;
			}
			.alias {
				font-size: 12px;
				color: rgba(0, 0, 0, 0.5);
			}
			a {
				margin: 5px;
			}
		}
	}
	.fr {
		float: right;
	}
}